{% block main %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Vistor</th>
      <th scope="col"> </th>
      <th scope="col"> Home</th>
  </thead>
  <tbody>

    {% for s in schedule %}
        <tr>
          <td scope="row">{{ s[ 'Date' ]}}</td>
          <td scope="row">{{ s[ 'Visitor/Neutral' ] }}</td>
          <td scope="row">@</td>
          <td scope="row">{{ s[ 'Home/Neutral' ] }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}